.nav-menu-after {
  text-align: center;
  list-style: none;
  margin-top: 30px;
}
.nav-menu-after li {
  margin-bottom: 15px;

  border-top: 1px solid rgb(199, 199, 199);
}
.nav-menu-after li a {
  text-decoration: none;
  color: black;
}
.nav-menu-after li a:hover {
  color: #b8a07e;
}

@media (max-width: 1000px) {
  /* Header */
  .list-menu {
    display: none;
  }
  .responsiveMenu {
    float: right;
    margin-top: 12px;
    cursor: pointer;
    font-size: 20px;
  }

  /* Contact */
  .your-email {
    margin-top: 20px;
  }
}
@media (min-width: 980px) {
  /* Header */
  .responsiveMenu {
    display: none;
  }
  .nav-menu-after {
    display: none;
  }
}
li {
  padding: 10px 0;
}
/* Class */
.navBar {
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
  transition: ease-in-out 0.75s;
}

.show-nav {
  height: 280px;
  margin-right: 30px;
  transition: ease-in 0.75s;
}
.nav-menu-after button {
  color: black;
  font-size: 30px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

.nav-menu-after ul {
  margin-top: 80px;
}
/* Media screen size */
@media screen and (min-width: 768px) {
  button {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
  }

  li {
    padding: 0 15px;
  }
}
